<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.CommentMapper">

	<sql id="commentColumns">
		  idx
		, boardidx
		, content
		, writer
		, deleteyn
		, inserttime
		, updatetime
		, deletetime
	</sql>

	<insert id="insertComment" parameterType="CommentDTO">
		INSERT INTO comment (
			<include refid="commentColumns" />
		) VALUES (
			  #{idx}
			, #{boardIdx}
			, #{content}
			, #{writer}
			, IFNULL(#{deleteYn}, 0)
			, NOW()
			, NULL
			, NULL
		)
	</insert>

	<select id="selectCommentDetail" parameterType="long" resultType="CommentDTO">
		SELECT
			<include refid="commentColumns" />
		FROM
			comment
		WHERE
			deleteyn = 0
		AND
			idx = #{idx}
	</select>

	<update id="updateComment" parameterType="CommentDTO">
		UPDATE comment
		SET
			  updatetime = NOW()
			, content = #{content}
			, writer = #{writer}
		WHERE
			idx = #{idx}
	</update>

	<update id="deleteComment" parameterType="long">
		UPDATE comment
		SET
			  deleteyn = 1
			, deletetime = NOW()
		WHERE
			idx = #{idx}
	</update>

	<select id="selectCommentList" parameterType="CommentDTO" resultType="CommentDTO">
		SELECT
			<include refid="commentColumns" />
		FROM
			comment
		WHERE
			deleteyn = 0
		AND
			boardidx = #{boardIdx}
		ORDER BY
			idx ASC,
			inserttime DESC
	</select>

	<select id="selectCommentTotalCount" parameterType="CommentDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			comment
		WHERE
			deleteyn = 0
		AND
			boardidx = #{boardIdx}
	</select>

</mapper>