<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="board/layout/basic">
<th:block layout:fragment="title">
   <title>The page is a write page</title>
</th:block>


<th:block layout:fragment="content">
   <div class="card-content" style="margin: 10% 10% 0 30%">
      <form class="form-horizontal" th:action="@{/board/register}" th:object="${board}" method="post"
         onsubmit="return registerBoard(this)">
         <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
         <input type="hidden" th:if="*{idx != null and idx > 0}" th:field="*{idx}" />
   
         <div class="form-group">
            <label for="title" class="col-sm-2 control-label">제목</label>
            <div class="col-sm-10">
               <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." />
            </div>
         </div>

         <div class="form-group" style="display:none;">
            <label for="postType" class="col-sm-2 control-label">유형</label>
            <div class="col-sm-10">
            <!-- name=백단에 저장될 이름 -->
               <input readonly th:value="${type}" name="postType" class="form-control" />
            </div>
         </div>
         
         <div class="form-group">
            <label class="col-sm-2 control-label">유형</label>
            <div class="col-sm-10">
            <!-- name=백단에 저장될 이름 -->
               <input readonly th:value="|${charName} (${charTitle})|" class="form-control" />
            </div>
         </div>

         <div class="form-group">
            <label for="content" class="col-sm-2 control-label">내용</label>
            <div class="col-sm-10">
               <textarea th:field="*{content}" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
            </div>
            
            <div class="form-group" th:if="${session.user.isManagerYn()}==true">
            <label for="noticeYn" class="col-sm-2 control-label">공지글 여부</label>
            <input type="checkbox" th:value="*{noticeYn}" id="NoticeYn" name="NoticeYn"
                  th:checked="*{noticeYn}" />
            <!-- 체크박스가  checked 되면 그 값에 noticeYn 에 true를 넣어라 아직 value 에는 그것이 저장이 안됨 이제 function 으로 넘어가라
 -->
         </div>
            
         </div>

         <div class="btn_wrap text-center" style="margin-right: 30%;">
         <br>
            <a th:href="@{/board/list(type=${type})}" class="btn btn-secondary waves-effect waves-light">뒤로가기</a>
            <button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
         </div>
      </form>
   </div>
   <!-- /.card-content -->
</th:block>


<th:block layout:fragment="script">
   <script th:inline="javascript">
      /*<![CDATA[*/

      function registerBoard(form) {

         form.NoticeYn.value = (form.NoticeYn.checked == true ? true : false);
         //function 으로 넘어가게 되면 value에 checked 가 true이면,  value 에 true값 저장 
         // 그게 아니면 value에 false값 저장.
         var result = (
            isValid(form.title, "제목", null, null)
            && isValid(form.writer, "이름", null, null)
            && isValid(form.content, "내용", null, null)
         );

         if (result == false) {
            return false;
         }
      }
         /*[- end of function -]*/

      /*]]>*/
   </script>
</th:block>

</html>