<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="survey/layout/basic">

<th:block layout:fragment="title">
	<title>Manager page</title>
	<link href="css/styles.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<!-- 2초마다 자동 새로고침 해주는 코드 -->
	<script>
		let msgChar = "[[${msgChar}]]";
		if (msgChar != "") {
			alert(msgChar);
			msgChar = "";
		}
		window.onload = function () {
			if (!window.location.hash) {
				window.location = window.location + '#loaded';
				setTimeout("location.reload()", 2000);
			}
		}
	</script>
</th:block>

<th:block layout:fragment="content">
	<br>
	<br>
	<h1 style="text-align:center; padding: 0px 100px;">캐릭터 목록</h1>
	<br>
	<div class="container" th:if="${not #lists.isEmpty( characterList )}">
		<div class="row" th:each="rows, i : ${characterList}">
			<div class="col-3" th:each="row : ${rows}">
				<div class="card" style="text-align:center; border:solid gray 0.5px;">
					<img th:src="@{${row.filepath}}" alt="" style="padding:10px;" width=100% />
					<div class="card-body" style="padding-bottom: 5px;">
						<p class="card-title">
							<a th:href="@{/character/view(idx=${row.idx})}" th:text="${row.name}"></a>
						</p>
						<p class="card-content"><a th:text="${row.title}"></a></p>
						<p class="card-content" th:text="${#temporals.format( row.regDate, 'yyyy-MM-dd' )}"></p>
					</div>
				</div>
			</div>
			<div><br></div>
		</div>
		<br>
	</div>

	<div class="btn_wrap text-center">
		<button onclick="history.back();" class="btn btn-secondary waves-effect waves-light">뒤로 가기</button>
		<a th:href="@{/character/write}" th:if="${isManager}==true"
			class="btn btn-primary waves-effect waves-light">등록하기</a>
	</div>

</th:block>

</html>